{% extends "layout.html" %}

{% block body %}
<div style="min-width: 300px; padding: 20px; width: 35%; border: 1px solid #ddd; border-radius: 8px; float: right; margin-right: 5%;" >
<h1> 欢迎登录 
<span style="float: right; font-size: 15px;">没有账号，<a href="/register">请注册</a>
</h1>
<form method="post" action="/login">
  <div class="form-group">
    <label for="exampleInputEmail1">用户名</label>
    <input type="text" name="user" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <p id="errMessage" style="color: red;">{{ errMessage }}</p>
  <button type="submit" class="btn btn-lg btn-primary btn-block">
   <i class="glyphicon glyphicon-ok"></i>
  提 交</button>
</form>
<script>
    setTimeout(function() {
      document.getElementById("errMessage").innerHTML = "";
    }, 5000);
</script>
</div>
{% endblock %}