{% extends "layout.html" %}

{% block body %}
<div style="width: 400px; border: 1px solid #ddd">
<form action="/upload" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">名称</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">图片</label>
    <input type="file" name="image" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  {% if imgPath %}
  <div>
  	<img style="max-width: 200px;" for="图片" src="{{ imgPath }}"/>
  </div>
  {% endif %}
  <button type="submit" class="btn btn-lg btn-primary btn-block">
  <i class="glyphicon glyphicon-asterisk"></i>
  提 交</button>
</form>
</div>

{% endblock %}